.round {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.corner {
    position: relative;
    top: 30px;
    left: 400px;
    height: 20px;
    width: 200px;
    z-index: 10;
    border-radius: 10px;
    border: none;
}

.search {
    position: relative;
    top : 300px;
    width: 1200px;
    height: 30px;
}
.container {
    position: relative;
  }
  
  .topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }

  .textinput {
    width: 60%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    left: 300px;
    z-index: 5;
}